*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
section{
    padding: 10px 4%;
}
.navbar a{
    color: black;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    align-items: center;
    background: url(images/travel.jpg);
}
.home-text h1{
    line-height: 1.2;
    color: rgb(143, 107, 209);;
    font-size: 80px;
    font-family: 'Paytone One', sans-serif;
}
.home-text p{
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.home-btn{
    display:inline-block;
    font-size: 16px;
    padding: 15px 30px;
    background: rgb(232, 152, 4);
    color: white;
    border-radius: 4px;
    transition: ease .40s;
}
.row-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center; 
}
.text h1{
    font-size: 60px;
    text-align: center  ;
}
#cat{
    padding-left: 650px;
    font-size: 20px;
}
.city-img :hover{
    transform: scale(1.03);
  }
 */
img.pic{
    float: left;
}
.testimonials-text h1{
    line-height: 1.2;
    color: rgb(5, 11, 57);
    font-size: 60px;
    font-family: 'Paytone One', sans-serif;
}
.testimonials-text h3 {
    color: rgb(5, 7,55);
    padding: 5px;
}
img.man {
    border-radius: 60%;
  }
.text-right{
    text-align: right;
    font-size: 20px;
    color:#5a7184
}
.jadoo-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap ;
}
.footer{
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}
.list{
    line-height: 2.2;
    width: 25%;
}
.end-text{
    text-align: center;
}
.end-text p{
    color:#5a7184;
    font-size: 20px;
}
a{
    color:#5a7184
}
.list p {
    color:#5a7184
}
.list h1{
    font-size: 40px;
}
img.ads{
    padding: 10%;
}
.sub{
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    color:#5a7184
}
.form input{
    font-size: 20px;
    border-color: white;
}
.sub-btn{
    display:inline-block;
    font-size: 15px;
    padding: 11px 26px;
    background: rgb(232, 152, 4);
    color: white;
    border-radius: 6px;
}
.hotels p{
    align-items: center;
    text-align: center;
    font-size: 17px;
    padding-left: 400px;
    padding-right: 400px;
}
.hotels {
    align-items: center;
    text-align: center;
}
.desc{
    position: absolute;
    line-height: 1.5;
    top: 300px;
    left: 200px;
    background-color: #fff;
    color:#323b43;
    position: left;
    font-family:'LinotypeUniversW01-Bold 723691';
    font-size: 27px;
    vertical-align:middle;
    line-height: 34px;
    padding-left: 70px;
    padding-right: 70px;
}

p.orange{
    color: rgb(255, 255, 255);
}
.desc h3{
    font-size: large;   
}
img.radius{
    border-radius: 3%;
}
.italy-text{
    padding-left: 300px;
    padding-right: 300px;
}
p.paragraph{
    font-style: italic; 
    color: #5a7184;
}
.whatToDo{
    padding-left: 300px;
    padding-right: 300px;
} 
p.changeColor{
    color: #1b252d;
}


@keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}

img,p {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;
}