*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.signUp{
    border-color: #221314;
    border-radius: 13%;

}
section{
    padding: 10px 4%;
}
.navbar a{
    color: black;
}
.playdemo{
    margin-top: 23px;
}
.home{
    position: relative;
    width: 100%;
    padding-left: 7%;
    height: 100vh;
    background-size: cover;
    align-items: center;
    /* background: url(images/travel.jpg); */
}
.home-text h1{
    line-height: 1.2;
    color: rgb(6, 26, 78);;
    font-size: 70px;
   
    font-family: 'Paytone One', sans-serif;
}
.home-text p{
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.home-btn{
    /* display:inline-block; */
    font-size: 14px;
    padding:12px 12px;
    background: hwb(39 10% 4%);
    color: white;
    border-radius: 4px;
    height:12%;
    width: 23%;
}

.parent {
    display: flex;
  }
.traveller{
    margin-right: 320px;
    margin-top: -18px;
}

#button{
    margin: 15px;
}

.row-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    text-align: center; 
}
.text h1{
    font-size: 60px;
    text-align: center  ;
}
#cat{
    padding-left: 650px;
    font-size: 20px;
}
.city-img :hover{
    transform: scale(1.03);
  }
 */
img.pic{
    float: left;
}
.testimonials-text p{
    line-height: 1.2;
    font-size: 20px;
    font-family: 'Paytone One', sans-serif;
}
.testimonials-text p1 {
    font-size: 50px;
    padding: 5px;
}
.testimonials-text{
    padding-left: 150px;

}
img.man {
    margin-right: 49%;
  }
.text-right{
    text-align: left;
    font-size: 17px;
    color:#5a7184
}
.paragraph2{
    padding-left: 620px;
    
}
.jadoo-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.main{
    display: flex;
    flex-wrap: wrap ;
}
.footer{
    padding: 14px 2px 12px ; 
    text-align: center;
    font-size: 18px;
}
.list{
    line-height: 2.2;
    width: 25%;
}
.end-text{
    text-align: center;
}
.end-text p{
    color:#5a7184;
    font-size: 20px;
}
a{
    color:#5a7184
}
.list p {
    color:#5a7184
}
.list h1{
    font-size: 40px;
}
img.ads{
    padding: 10%;
    align-items: center;
}
.sub{
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    color:#5a7184
}
.form input{
    font-size: 20px;
    border-color: white;
}
.sub-btn{
    display:inline-block;
    font-size: 13px;
    padding: 12px 20px;
    background:#ff8c5c;
    color: white;
    border-radius: 6px;
}
.sub input{
    font-size: 15px
}
.hotels p{
    align-items: center;
    text-align: center;
    font-size: 17px;
    padding-left: 400px;
    padding-right: 400px;
}
.hotels {
    align-items: center;
    text-align: center;
}
.desc{
    position: absolute;
    line-height: 1.5;
    top: 300px;
    left: 200px;
    background-color: #fff;
    color:#323b43;
    position: left;
    font-family:'LinotypeUniversW01-Bold 723691';
    font-size: 27px;
    vertical-align:middle;
    line-height: 34px;
    padding-left: 70px;
    padding-right: 70px;
}

p.orange{
    font-weight:bolder;
    color: rgb(227, 100, 26);
}
.desc h3{
    font-size: large;   
}
img.radius{
    border-radius: 3%;
}
.italy-text{
    padding-left: 300px;
    padding-right: 300px;
}
p.paragraph{
    font-style: italic; 
    color: #5a7184;
}
.whatToDo{
    padding-left: 300px;
    padding-right: 300px;
} 
p.changeColor{
    color: #1b252d;
}

.first,.second, .third  h4, p{
    color:#58636d
}

/* @keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
} */

/* img:not(.hotel4,.traveller , #button) {
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	animation: linear reveal both;
	animation-timeline: --revealing-image;

	animation-range: entry 25% cover 50%;
} */

.book{
    padding-left: 150px;
}

.first, .second, .third {
    display: flex;
  }

  .book h1{
    line-height: 1.6;
    color: rgb(3, 18, 56);;
    font-size: 50px;
    font-family: 'Paytone One', sans-serif;
}

img.trip{
    margin-right: 100px;
}